h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: 1.2;
}

.lead {
    line-height: $lead-line-height-sm;
    margin-bottom: .5rem;
    font-size: calc($lead-font-size / 1.4);

    @include media-breakpoint-up(sm) {
        line-height: $lead-line-height;
        font-size: $lead-font-size;
    }
}
