// Main wrapper element
.mega-navigation {
    padding-top: 60px;

    @include media-breakpoint-up(lg) {
        padding-top: 80px;
    }
}

@mixin menu-item {
    height: 48px;
    justify-content: flex-start;
    align-content: center;

    &:hover {
        @include media-breakpoint-down(xlg) {
            background: rgba(32, 149, 243, 0.1);
        }
    }

    &.separator-bottom {
        border-bottom: 1px solid #979797;
    }

    &.separator-top {
        border-top: 1px solid #979797;
    }

    @include media-breakpoint-down(lg) {
        border: 0;
    }
}

@mixin menu-link {
    display: inline-block;
    color: #495057;
    font-size: 18px;
    font-weight: 400;
    color: #495057;
    padding: 10px 30px;
    height: 38px;
    width: 100%;

    @include media-breakpoint-up(lg) {
        padding: 0;
        width: auto;
    }

    &:hover {
        text-decoration: none;
    }
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #fff url('https://www.hrgo.co.uk/images/nav/nav-border.png') repeat-x bottom;
    transition: top 300ms linear;

    @include media-breakpoint-up(lg) {
        height: 80px;
    }

    .indicator {
        position: absolute;
        bottom: 0;
        right: 16px;
        display: inline-block;
        background: url('https://www.hrgo.co.uk/images/nav/nav-active.png') no-repeat bottom center;
        width: 50px;
        height: 0;
        transition: all 100ms linear;
    }

    &.active .indicator {
        height: 16px;
    }

    .container {
        align-items: center;

        @include media-breakpoint-down(lg) {
            max-width: initial;
            padding: 0 25px;
        }
    }

    .site-logo {
        margin: 0 15px 0 0;
        flex: 1;

        img {
            max-height: 40px;
            width: auto;
            max-width: initial;
        }
    }

    .hamburger {
        height: 32px;
        width: 32px;
        margin: 0 0 0 10px;
        background: url("https://www.hrgo.co.uk/images/nav/nav-hamburger.svg");
        background-size: 32px;
        cursor: pointer;

        path {
            fill: #495057;
        }
    }

    .main-menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #F9F9F9;
        height: 0;
        overflow: hidden;
        transition: all 300ms linear;

        @include media-breakpoint-up(lg) {
            position: static;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 80px;
            padding: 0;
        }

        .menu-item-list {
            margin: 0;
            padding: 30px 0 0 0;
            transition: all 250ms linear;

            .submenu-active & {
                margin-left: -100%;
            }

            @include media-breakpoint-up(lg) {
                padding: 0;
                margin: 0;
            }
        }

        .menu-item {
            @include menu-item;

            @include media-breakpoint-up(lg) {
                display: inline-block;
                padding: 0 30px;
                color: #495057;
                height: 80px;
                background: url("https://www.hrgo.co.uk/images/nav/nav-active.png") no-repeat bottom center;
                background-size: 50px 0;
                transition: all 100ms linear;
            }

            &:hover {
                background: rgba(32, 149, 243, 0.1);

                @include media-breakpoint-up(lg) {
                    background: url("https://www.hrgo.co.uk/images/nav/nav-active.png") no-repeat bottom center;
                    background-size: 50px 0;
                }
            }

            &.has-submenu {

                .chevron {
                    display: inline-block;
                    width: 7px;
                    height: 14px;
                    background: url('https://www.hrgo.co.uk/images/nav/nav-chevron-right.svg') no-repeat center;
                    background-size: cover;
                    vertical-align: baseline;
                    margin: 0 0 0 10px;
                }

                .arrow-down {
                    @include media-breakpoint-up(lg) {
                        display: inline-block;
                        height: 12px;
                        width: 12px;
                        background: url('https://www.hrgo.co.uk/images/nav/nav-arrow-down.svg') no-repeat;
                        background-size: cover;
                        transition: all 100ms linear;
                    }
                }

                &.open {
                    @include media-breakpoint-up(lg) {
                        background-size: 50px 16px;
                    }
                }

                &.active {
                    @include media-breakpoint-up(lg) {
                        .arrow-down {
                            transform: rotateZ(180deg);
                        }
                    }
                }
            }

            .menu-link:not(.user-menu-link) {
                @include menu-link;

                @include media-breakpoint-up(lg) {
                    display: inline-block;
                    margin-top: 30px;
                    font-size: 16px;
                    height: 48px;
                    position: relative;

                    &:after {
                        content: " ";
                        display: block;
                        height: 4px;
                        width: 0;
                        position: absolute;
                        bottom: 0;
                        background: #FF6600;
                        left: 50%;
                        margin-left: 0%;
                        transition: all 100ms linear;
                    }
                }
            }

            &.current-page:not(.active),
            &:hover:not(.active) {
                .menu-link {
                    &:after {
                        width: 100%;
                        margin-left: -50%;
                    }
                }
            }
        }

        .submenu {
            position: absolute;
            top: 0;
            left: 100%;
            right: 0;
            bottom: 0;
            transition: left 300ms linear;
            z-index: 102;
            background: #F9F9F9;
            overflow: hidden;

            @include media-breakpoint-up(lg) {
                transition: none;
                position: absolute;
                left: 0;
                top: 80px;
                bottom: auto;
                width: 100%;
                overflow: hidden;
                box-shadow: 0 6px 6px rgba(0,0,0,0.3);
                -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
                transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
                -webkit-transition: 350ms;
                -o-transition: 350ms;
                transition: 350ms;
                max-height: 0;
            }


            &.active {
                left: 0;

                @include media-breakpoint-up(lg) {
                    -webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0);
                    transform: perspective(400px) rotate3d(0, 0, 0, 0);
                    max-height: 300px;
                    transition: 250ms;
                    z-index: 101;
                }
            }

            .container {
                padding: 0 0 0 0;

                @include media-breakpoint-up(lg) {
                    position: relative;
                    padding: 64px 0;

                    &.small-padding-container {
                        padding: 24px 0;

                        .submenu-item-list {
                            padding: 0;
                        }

                        .submenu-item {
                            margin: 0;
                        }
                    }
                }
            }

            .submenu-item-list {
                padding: 30px 0 0 0;

                @include media-breakpoint-up(lg) {
                    padding: 0 320px 30px 0;
                }
            }

            .submenu-item {
                @include menu-item;

                @include media-breakpoint-up(lg) {
                    display: inline-block;
                    width: 33%;
                    margin: 0 0 30px 0;
                    background: transparent !important;
                }
            }

            .submenu-item-title {
                @include menu-link;
                display: inline-block;
                color: #495057;
                font-weight: 400;
                color: #495057;

                @include media-breakpoint-up(lg) {
                    font-weight: 700;
                    font-size: 20px;
                    color: #2095F3;
                    background: transparent !important;
                }
            }

            .submenu-item-description {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                    color: #495057;
                }
            }

            .back-link {
                font-size: 12px;
                color: #666;
                margin: 16px 30px;
                height: 30px;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;

                .chevron {
                    display: inline-block;
                    width: 10px;
                    height: 6px;
                    float: left;
                    margin: 6px 4px 0 0;
                    background: 'https://www.hrgo.co.uk/images/nav/nav-chevron-right.svg' no-repeat bottom center;
                    background-size: 10px 6px;
                }
            }

            .submenu-image {
                display: none;

                @include media-breakpoint-up(lg) {
                    position: absolute;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    top: 0;
                    right: 0;
                    width: 320px;
                    min-height: 250px;
                    background: 0 0 no-repeat;
                    height: 100%;
                    background-size: 320px 250px;
                }
            }
        }

        .cross {
            position: absolute;
            top: 0;
            right: 23px;
            width: 38px;
            height: 38px;
            background: url('https://www.hrgo.co.uk/images/nav/nav-cross.svg') no-repeat center;
            background-size: 14px;
            cursor: pointer;

            @include media-breakpoint-up(lg) {
                height: 64px;
                width: 64px;
                background-size: 32px;
                right: 0;
            }
        }
    }

    .user-menu {
        margin-left: auto;
        text-align: right;

        @include media-breakpoint-up(lg) {
            width: 200px;
        }

        .link {
            cursor: pointer;
        }

        .link.primary {
            padding: 6px 10px 8px 10px;
            color: #fff;
            position: relative;
            color: #495057;

            &:after {
                display: block;
                content: " ";
                background: #FF6600;
                border-radius: 8px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                transform: rotateZ(-2deg);
            }
        }

        .link.secondary {
            color: #495057;
            margin: 0 20px 0 0;
            font-weight: 400;
            font-size: 16px;
        }
    }

    .user-link {
        margin: 0 30px;
        padding: 10px 0;
        font-weight: 700 !important;
        font-size: 1.5rem !important;

        a {
            color: #495057 !important;
        }

        .icon {
            float: left;
            margin: 6px 8px 0 0;
            background-size: contain;

            &.login {
                background-image: url('https://www.hrgo.co.uk/images/nav/nav-enter-right.svg');
            }
        }
    }
}
