.locationMap {
    &_list {
        display: none;
    }

    &_map {
        height: 520px;

        @include media-breakpoint-up(md) {
            height: 628px;
        }

        @include media-breakpoint-up(lg) {
            height: 798px;
        }
    }

    &_column-withOffset {
        @include media-breakpoint-up(md) {
            position: absolute;
            top: -205px;
            right: 7px;
        }
    }

    &-bg {
        background-color: $brand-secondary;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 25px;
        right: 25px;
        display: block;
    }

    &-img {
        max-height: 100%;
        max-width: 100%;
        width: 22px;
        height: 22px;

        @include media-breakpoint-up(sm) {
            width: 30px;
            height: 30px;
        }

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}