.snow {
    &_flake {
        position: absolute;
        display: block;
        background-image: url('/images/icons/snowflake.svg');
        background-size: cover;
    }

    &_container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
    }

    &_bringForward {
        z-index: 2;
    }
}
